@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
.bar-loading {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bar-loading h1 img {
  opacity: 1;
  display: block;
  z-index: 999999999 !important;
  visibility: visible;
}
.docspinner {
  width: 10px;
  height: 10px;
  margin: 0;
  position: initial;
  border-radius: 50%;
  border: 4px solid #fff0;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 767px) {
  div[data-role="page"].page {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  div[data-role="page"].page::-webkit-scrollbar {
    display: none;
  }

  .backdrop,
  .slide {
    position: absolute;
  }

  .featured-content,
  .plot-container {
    font-family: "Titillium Web", sans-serif;
    left: 0;
  }

  .plot,
  body {
    overflow: hidden;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    cursor: pointer;
    color: white;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: rgba(12, 109, 162, 0.5);
    border-radius: 50%;
    z-index: -1;
  }

  .left-arrow {
    left: 20px;
    font-size: 12px;
  }

  .right-arrow {
    right: 20px;
    font-size: 12px;
  }

  .dots-container {
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 22px;
    background-color: #ffffff00;
    gap: 2vw;
  }

  .dot {
    width: 15vw;
    height: 4px;
    background-color: #cecece;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dot.active {
    background-color: rgba(12, 110, 162, 0.7) !important;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .fade-in {
    opacity: 1 !important;
  }

  .fade-out {
    opacity: 0 !important;
  }

  #slides-container {
    position: relative;
    width: 100vw;
    height: 650px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 15px;
  }

  .slide {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .slide.active {
    opacity: 1;
    display: block;
  }

  .slide:focus {
    outline: #fff solid 2px;
  }

  .backdrop-container {
    position: relative;
    top: -40%;
    right: -35%;
    width: 70%;
    height: 100%;
  }

  .backdrop {
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
    border-radius: 5px;
    z-index: 1;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 1) 30%
    );
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 1) 30%
    );
  }

  .backdrop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 2;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 1) 30%
    );
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 1) 30%
    );
  }

  .logo-container {
    width: 45%;
    height: 40%;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
  }

  .logo {
	position: relative;
    max-height: 94%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    z-index: 4;
    top: 4em;
    left: 5em;
  }

  .featured-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: #d3d3d3;
    font-size: 22px;
    display: none;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
  }

  .plot-container {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 50%;
    height: 60%;
    font-size: 15px;
    padding: 10px 0 25px 15px;
    border-radius: 5px;
    z-index: 3;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }

  .plot {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    left: 7.9em;
    position: absolute;
    top: 184px;
	filter: drop-shadow(0 0 2px rgba(2, 2, 2, 0.8));
	font-weight: 500;
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(90deg, rgb(0% 0% 0%) 0%, rgb(0% 0% 0% / 0.9999847412109375) 6.25%, rgb(0% 0% 0% / 0.999755859375) 12.5%, rgb(0% 0% 0% / 0.9987640380859375) 18.75%, rgb(0% 0% 0% / 0.99609375) 25%, rgba(0, 0, 0, 0.99) 31.25%, rgba(0, 0, 0, 0.98) 37.5%, rgba(0, 0, 0, 0.96) 43.75%, rgba(0, 0, 0, 0.94) 50%, rgba(0, 0, 0, 0.9) 56.25%, rgba(0, 0, 0, 0.55) 65%, rgba(0, 0, 0, 0.35) 70%, rgba(0, 0, 0, 0.15) 75%, rgba(0, 0, 0, 0.05) 80%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
    mask-image: linear-gradient( to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 1) 12% );
    -webkit-mask-image: linear-gradient( to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 1) 12% );
  }
  .genre {
	position: absolute;
	top: calc(50% + 75px);
	left: 7.4em;
	text-align: center;
	color: #FFDB41;
	font-family: "Titillium Web", sans-serif;
	z-index: 4;
	font-weight: 200;
	letter-spacing: 2px;
  }
  .info-container {
    position: absolute;
    top: calc(50% + 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2em !important;
    color: #fff;
    z-index: 4;
	pointer-events: none;
  }
  .rating-value {
    font-family: "Titillium Web", sans-serif;
    display: flex;
    align-items: center;
    margin: 0 3em;
    z-index: 5;
    position: relative;
    top: 1.5em;
    gap: 0.75em;
  }
  .runTime {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0 8px;
    margin-right: -3px;
  }
  .tomato-rating {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  .tomato-rating img {
    margin-right: 9px;
  }
  .age-rating {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background: rgb(255 255 255 / 0.8);
    color: #000;
    border: none;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 0.6em;
  }
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
	padding-left: 5px;
	padding-right: 3px;
  }
  .date {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 7px;
    margin-right: 9px;
  }
  .separator-icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    color: aquamarine;
  }
  .button-container {
    position: absolute;
    top: calc(54% + 184px); /* Same as the previous button positions */
    left: 5.5em;
    display: flex;
    gap: 3em; /* Space between buttons */
    z-index: 5; /* Ensures it's above other elements */
  }
  .play-button,
  .detail-button {
    display: inline-flex; /* Ensures icon and text are on the same line */
    align-items: center;
    justify-content: center;
    padding: 8px 16px; /* Slightly reduced padding for thinner buttons */
    border: solid 2px;
    border-radius: 25px; /* Sleeker look */
    font-size: 14px;
    white-space: nowrap; /* Prevents text wrapping */
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    gap: 6px; /* Adds space between icon and text */
    -webkit-tap-highlight-color: transparent;
  }

  .play-button, 
  .detail-button {
    background-color: rgba(12, 109, 162, 0.5);
    color: #fff;
  }
  
  .play-button:hover,
  .detail-button:hover {
	background-color: rgba(12, 109, 162, 0.85);
  }
  
  .material-icons {
	  pointer-events: none;
  }
  
  .play-icon,
  .detail-icon {
    font-size: 18px; /* Ensures icons are aligned with text */
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  .backdrop,
  .slide {
    position: absolute;
  }

  .arrow {
    position: absolute;
    bottom: 25px;
    font-size: 24px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    z-index: 4;
    -webkit-tap-highlight-color: transparent;
    display: none;
  }

  .left-arrow {
    left: 10px;
  }

  .right-arrow {
    right: 10px;
  }

  .featured-content,
  .plot-container {
    font-family: "Titillium Web", sans-serif;
    left: 0;
  }

  .plot,
  body {
    overflow: hidden;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .fade-in {
    opacity: 1 !important;
  }

  .fade-out {
    opacity: 0 !important;
  }

  .dots-container {
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translateX(-50%) scale(0.6);
    z-index: 2;
    display: flex;
    gap: 5px;
    background-color: #ffffff00;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 22px;
    transition: opacity 0.5s ease-in-out;
  }

  .dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 5px;
    background-color: #cecece;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .dot.active {
    width: 32px;
    height: 12px;
    background-color: rgba(12, 110, 162, 0.7);
    border-radius: 10px;
  }

  #slides-container {
    position: relative;
    width: 92vw;
    height: 650px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
  }

  .slide {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .slide.active {
    opacity: 1;
    display: block;
  }

  .slide:focus {
    outline: #fff solid 2px;
  }
  .logo {
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 60%;
    max-width: 80%;
    width: auto;
    z-index: 4;
    filter: brightness(1.5);
  }

  .backdrop {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
    object-position: center 20%;
    z-index: 1;
    border-radius: 13px;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 1) 30%
    );
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 1) 30%
    );
  }

  .gradient-overlay {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    background: rgba(0, 0, 0, 0.55);
    z-index: 2;
    border-radius: 13px;
    pointer-events: none;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 1) 30%
    );
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 1) 30%
    );
  }

  .genre {
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    width: 90%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    z-index: 4;
    box-sizing: border-box;
  }
  .info-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1em;
    color: #fff;
    z-index: 5;
    width: 100%;
  }
  .rating-value {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .date {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 2px;
  }
  .tomato-rating {
    display: flex;
    align-items: center;
  }
  .tomato-logo {
    margin-right: 3px;
  }
  .critic-logo {
    margin-left: 3px;
  }
  .imdb-logo {
    margin-right: 3px;
  }
  .age-rating {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: rgb(255 255 255 / 0.8);
    color: #000;
    border: none;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 0.4em;
  }
  .separator-icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1px;
    color: aquamarine;
  }
  .featured-content,
  .plot {
    display: none;
  }

  .button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px; /* Adjust spacing between buttons */
    z-index: 4;
  }

  .play-button,
  .detail-button {
    display: inline-flex; /* Ensures icon and text are on the same line */
    align-items: center;
    justify-content: center;
    padding: 8px 16px; /* Slightly reduced padding for thinner buttons */
    border: none;
    border-radius: 20px; /* Sleeker look */
    font-size: 14px;
    white-space: nowrap; /* Prevents text wrapping */
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    gap: 6px; /* Adds space between icon and text */
    -webkit-tap-highlight-color: transparent;
  }

  .play-button {
    background-color: rgb(12, 109, 162);
    color: #ffffff;
  }

  .detail-button {
    background-color: rgba(12, 109, 162, 0.5);
    border: solid 1.5px rgba(12, 109, 162, 0.8);
  }

  .play-button:hover,
  .detail-button:hover {
    opacity: 0.8;
  }

  .play-icon,
  .detail-icon {
    font-size: 18px; /* Ensures icons are aligned with text */
    display: flex;
    align-items: center;
  }
}
